h1 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
}
.highlight {
  background-color: yellow;
  font-size: 20px;
  width: 60%;
  font-family: sans-serif;
  padding: 10px;
}

#normal {
  border: 50px solid rgb(26, 26, 232);
  margin: 15px;
  padding: 20px;
}

a {
  color: yellowgreen;
}